{% extends 'template_admin.twig' %}

{% block page_title %}
	<title>Admin-articles</title>
{% endblock %}

{% block content %}

	<div class="container">

		{{ include('message_display.twig') }}

		<h3 class="card text-center m-5">Post(s) à valider</h3>
		{% for invalidPost in invalidPosts %}
			<div class="card border-left-success">
				<div class="card-body" style="background: #d9d9d9;">
					<h5 class="card-title text-center">
						<strong>Titre :</strong>
						{{invalidPost.title}}</h5>
					<p class="card-text">
						<strong>Chapo :</strong>
						{{invalidPost.chapo}}</p>
					<p class="card-text">
						<strong>Extrait du contenu :</strong>
						<br>
						{{invalidPost.contents|striptags|slice(0, 490)|raw}}...</p>
					<h6 class="card-subtitle mb-2 text-muted">Ecrit par
						{{invalidPost.pseudo}}
						le
						{{invalidPost.lastDateChange|date("d/m/Y")}}</h6>
				</div>
				<form class="card-footer text-center" method="post" action="admin-waiting-posts">
					<a class="btn btn-primary" href="Modifier-Article-{{ invalidPost.id }}">Modifier</a>
					<button class="btn btn-success" type="submit" name="idPublishPost" value="{{invalidPost.id}}">Valider</button>
					<button class="btn btn-danger" type="submit" name="idDeletePost" value="{{invalidPost.id}}">Supprimer</button>
				</form>
			</div><hr><br>
		{% endfor %}
	</div>
{% endblock %}
