{% extends 'template_admin.twig' %}

{% block page_title %}
	<title>Administration</title>
{% endblock %}

{% block content %}

	<div class="container">

		{{ include('message_display.twig') }}

		<h1 class="card text-center m-5">Liste des éléments en attentes de validation</h1>

		<h3 class="card text-center m-5">Utilisateur(s) à valider</h3>
		{% for pendingUser in pendingUsers %}
			<div class="card text-center border-left-primary">
				<div class="card-body" style="background: #d9d9d9;">
					<h5 class="card-title">{{pendingUser.pseudo}}</h5>
					<a href="mailto:{{pendingUser.email}}" class="btn btn-outline-dark">{{pendingUser.email}}</a>
				</div>
				<form class="card-footer" method="post" action="Administration">
					<button class="btn btn-success" type="submit" name="idValidateUser" value="{{pendingUser.id}}">Valider</button>
					<button class="btn btn-danger" type="submit" name="idDeleteUser" value="{{pendingUser.id}}">Supprimer</button>
				</form>
			</div><hr><br>
		{% endfor %}


		<h3 class="card text-center m-5">Post(s) à valider</h3>
		{% for invalidPost in invalidPosts %}
			<div class="card border-left-success">
				<div class="card-body" style="background: #d9d9d9;">
					<h5 class="card-title">
						<strong>Titre :</strong>
						{{invalidPost.title}}</h5>
					<p class="card-text">
						<strong>Chapo :</strong>
						{{invalidPost.chapo}}</p>
					<p class="card-text">
						<strong>Extrait du contenu :</strong>
						<br>
						{{invalidPost.contents|striptags|slice(0, 490)|raw}}
						...</p>
					<h6 class="card-subtitle mb-2 text-muted">Ecrit par
						{{invalidPost.pseudo}}
						le
						{{invalidPost.lastDateChange|date("d/m/Y")}}</h6>
				</div>
				<form class="card-footer text-center" method="post" action="Administration">
					<a class="btn btn-primary" href="Modifier-Article-{{ invalidPost.id }}">Modifier</a>
					<button class="btn btn-success" type="submit" name="idPublishPost" value="{{invalidPost.id}}">Valider</button>
					<button class="btn btn-danger" type="submit" name="idDeletePost" value="{{invalidPost.id}}">Supprimer</button>
				</form>
			</div><hr><br>
		{% endfor %}


		<h3 class="card text-center m-5">Commentaire(s) à valider</h3>
		{% for invalidComment in invalidComments %}
			<div class="card text-center border-left-info">
				<div class="card-body" style="background: #d9d9d9;">
					<p class="card-text">{{invalidComment.contents|nl2br}}</p>
					<h6 class="card-subtitle mb-2 text-muted">Ecrit par
						{{invalidComment.pseudo}}
						le
						{{invalidComment.dateComment|date("d/m/Y")}}</h6>
				</div>
				<form class="card-footer" method="post" action="Administration">
					<button class="btn btn-success" type="submit" name="idPublishComment" value="{{invalidComment.id}}">Valider</button>
					<button class="btn btn-danger" type="submit" name="idDeleteComment" value="{{invalidComment.id}}">Supprimer</button>
					<button class="btn btn-warning" type="submit" name="idRefuseComment" value="{{invalidComment.id}}">Refuser</button>
				</form>
			</div><hr><br>
		{% endfor %}


		<h3 class="card text-center m-5">Commentaire(s) refusé</h3>
		{% for refuseComment in refuseComments %}
			<div class="card text-center border-left-danger">
				<div class="card-body" style="background: #d9d9d9;">
					<p class="card-text">{{refuseComment.contents|nl2br}}</p>
					<h6 class="card-subtitle mb-2 text-muted">Ecrit par
						{{refuseComment.pseudo}}
						le
						{{refuseComment.dateComment|date("d/m/Y")}}</h6>
				</div>
				<form class="card-footer" method="post" action="Administration">
					<button class="btn btn-success" type="submit" name="idPublishComment" value="{{refuseComment.id}}">Valider</button>
					<button class="btn btn-danger" type="submit" name="idDeleteComment" value="{{refuseComment.id}}">Supprimer</button>
				</form>
			</div><hr><br>
		{% endfor %}
	</div>

{% endblock %}
