{% extends 'template_admin.twig' %}

{% block page_title %}
	<title>Admin-commentaires-refusés</title>
{% endblock %}

{% block content %}

	<div class="container">

		{{ include('error_message.twig') }}

		<h3 class="card text-center m-5">Commentaire(s) refusé</h3>
		{% for refuseComments in refuseComments %}
			<div class="card text-center border-left-danger">
				<div class="card-body" style="background: #d9d9d9;">
					<p class="card-text">{{refuseComments.contents|nl2br}}</p>
					<h6 class="card-subtitle mb-2 text-muted">Ecrit par
						{{refuseComments.pseudo}}
						le
						{{invalideComment.date_comment|date("d/m/Y")}}</h6>
				</div>
				<form class="card-footer" method="post" action="admin-waiting-comments">
					<button class="btn btn-success" type="submit" name="idPublishComment" value="{{refuseComments.id}}">Valider</button>
					<button class="btn btn-danger" type="submit" name="idDeleteComment" value="{{refuseComments.id}}">Supprimer</button>
				</form>
			</div><hr><br>
		{% endfor %}
	</div>
{% endblock %}
