{% extends 'template_admin.twig' %}

{% block page_title %}
	<title>Admin-user</title>
{% endblock %}

{% block content %}

	<div class="container">

		{{ include('error_message.twig') }}

		<h3 class="card text-center m-5">Utilisateur(s) à valider</h3>
		{% for pendingUser in pendingUsers %}
			<div class="card text-center">
				<div class="card-body" style="background: #d9d9d9;">
					<h5 class="card-title">{{pendingUser.pseudo}}</h5>
					<p class="card-text">{{pendingUser.email}}</p>
				</div>
				<form class="card-footer" method="post" action="Administration">
					<button class="btn btn-success" type="submit" name="idValidateUser" value="{{pendingUser.id}}">Valider</button>
					<button class="btn btn-danger" type="submit" name="idDeleteUser" value="{{pendingUser.id}}">Supprimer</button>
				</form>
			</div><hr><br>
		{% endfor %}
	</div>
{% endblock %}
