{% extends 'template_blog.twig' %}

{% block page_title %}
	<title>Les articles</title>
{% endblock %}

{% block content %}

	{#  Page Header #}
	<header class="masthead" style="background-image: url('assets/images/home-bg.jpg')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Mon Blog</h1>
						{% if SESSION.rankConnectedUser is not defined %}
							<span class="subheading">Pour commenter un article, il faut être inscrit et connecté !</span>
						{% elseif SESSION.rankConnectedUser == 'registered' %}
							<span class="subheading">Votre compte a été validé.</span>
							<span class="subheading">N'hésitez pas à commenter les articles !</span>
						{% elseif SESSION.rankConnectedUser == 'pending' %}
							<span class="subheading">Votre compte est toujours en attente de validation.</span>
							<span class="subheading">Vous ne pouvez pas commenter les articles.</span>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>

	{{ include('error_message.twig') }}

	{#  Main Content #}
	<div class="container">
		{% for post in posts %}
			<div class="row justify-content-center">
				<div
					class="col-md-12">

					{#  Post preview #}
					<div class="post-preview">
						<a href="post.html">
							<h2 class="post-title">
								<a href="Article-{{ post.id }}-page1">{{ post.title }}</a>
							</h2>
							<h6 class="post-subtitle">{{ post.chapo }}</h6>
							<p class="card-text">
								<strong>Extrait du contenu :</strong>
								<br>{{ post.contents|striptags|slice(0, 500)|raw }}
								...</p>
						</a>
						<p class="post-meta">
							Ecrit par
							{{ post.pseudo }}
							<br>
							Dernière modification le
							{{ post.last_date_change|date("d/m/Y") }}
						</p>
					</div>
					{% if SESSION.rankConnectedUser == 'admin' %}
						<div class="card-footer">
							<a class="card-link" href="Modifier-Article-{{ post.id }}">Modifier</a>
							<a class="card-link text-danger" href="Supprimer-Article-{{ post.id }}">Supprimer</a>
						</div>
					{% endif %}
					{#  Divider #}
					<hr
					class="my-4"/>
				{#  Pager #}
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="paging">
		<h3>Pages</h3>
		<p>
			{% for page in 1..paging.totalPages %}
				{% if page == paging.currentPage %}
					<a>{{page}}</a>
				{% else %}
					<a href="Articles-Page{{page}}">{{page}}</a>
				{% endif %}
			{% endfor %}
		</p>
	</div>
{% endblock %}
